GOOGLE_SHEET_ID=1MzAueHjmF0DvY0scJdb-GSmOkybPjsHlqdUWIqnVTSc
GOOGLE_SHEETS_WEBHOOK_URL=
WHATSAPP_PROVIDER=baileys
WHATSAPP_BAILEYS_URL=http://127.0.0.1:3100
WHATSAPP_ADMIN=+212786713408
WHATSAPP_WEBHOOK_URL=
CALLMEBOT_APIKEY=
WHATSAPP_CLOUD_TOKEN=
WHATSAPP_CLOUD_PHONE_ID=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_FROM=
GREEN_API_ID_INSTANCE=
GREEN_API_TOKEN=
